@import url('https://fonts.googleapis.com/css2?family=Lobster:weight@100;200;400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lobster',sans-serif;
    background: url(https://s3.amazonaws.com/cms.ipressroom.com/173/files/20210/5ffc949c2cfac21121058d9d_ocean+2/ocean+2_hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}
.container{
    padding: 20px 70px;
    color: white;
}
.current-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.date-container .time{
    font-size: 70px;
    font-weight: 100;
}
.date-container #am-pm{
    font-size: 30px;
    margin-left: 20px;
}